# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# Virtual environment
.venv/
venv/
env/
ENV/

# Docker
*.log
*.pid
docker-compose.override.yml

# Byte-compiled / caches
*.egg-info/
*.egg

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

bus_board/secrets.h
